.Footer {
  background-color: #00c4d4;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Text__footer {
  text-align: center;
}

.Logo__footer {
  max-width: 40px;
}

.Icons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.Wpp__icon {
  max-width: 20px;
  cursor: pointer;
}

.Linkedin__icon {
  max-width: 20px;
  cursor: pointer;
}

.Github__icon {
  max-width: 20px;
  cursor: pointer;
}
